#board {
    -fx-alignment: center;
    -fx-background-color: black;
    -fx-vgap: 1;
    -fx-hgap: 1;
    -fx-padding: 1;
}

.lightSquare {
    -fx-fill: white;
}

.darkSquare {
    -fx-fill: green;
}

.fullPane:hover {
    -fx-cursor: hand;
}

.selectedSquare {
    -fx-opacity: 0.5;
}

#leftIcon {
    -fx-icon-code: "bi-arrow-left-square-fill";
    -fx-icon-size: 30;
    -fx-icon-color: black;
}

#rightIcon {
    -fx-icon-code: "bi-arrow-right-square-fill";
    -fx-icon-size: 30;
    -fx-icon-color: black;
}